<footer class="footer">
	<div class="footer__inner container">
		<div class="footer__top">
			<div class="footer__top-side">
				<h4>Newsletter</h4>
				<p>Don't see the city you were looking for? Help us out by suggesting!</p>
			</div>
			<form class="footer__top-form" action="./">
				<input type="text" placeholder="Your E-mail Address">
				<input type="submit" value="">
			</form>
		</div>
		<div class="footer__middle">
			<div class="footer__block">
				<h4 class="footer__block-title">Links</h4>
				<a class="footer__block-item" href="./">Home</a>
				<a class="footer__block-item" href="./">Best places</a>
				<a class="footer__block-item" href="./">Destination</a>
				<a class="footer__block-item" href="./">Travel tips</a>
				<a class="footer__block-item" href="./">Travel resources</a>
			</div>		
			<div class="footer__block">
				<h4 class="footer__block-title">Social</h4>
				<a class="footer__block-item" href="./">Facebook</a>
				<a class="footer__block-item" href="./">Twitter</a>
				<a class="footer__block-item" href="./">G-mail</a>
				<a class="footer__block-item" href="./">Skype</a>
				<a class="footer__block-item" href="./">Pinterest</a>
			</div>		
			<div class="footer__block">
				<h4 class="footer__block-title">Contact</h4>
				<a class="footer__block-item footer__block-item_phone" href="tel:0123-456-789">0123-456-789</a>
				<a class="footer__block-item footer__block-item_email" href="mailto:findeo@gmail.com">findeo@gmail.com</a>
				<a class="footer__block-item footer__block-item_address" href="./">774 ne St Miami, fl 33879</a>
			</div>		
			<div class="footer__block">
				<div class="footer__block-logo"><img src="./images/logo-bottom.png" alt=""></div>
				<p>Viverra nam sem amet massa aliquot vici adipisicing Iaoreet ut. Quis aliquam aliquet amet. Ante ut etiam quam. Maecenas phasellus felis dapibus ultricies pretium ut tellus fringila.</p>
			</div>		
		</div>
		<div class="footer__bottom">
			<p>&copy; Copyright 2017 TravelBlog Design by Zisan</p>
		</div>
	</div>
</footer> 
<script type="text/javascript" charset="utf-8" src="jquery.min.js"></script>
<script src="common.js"></script> 
</body> 
</html>