<header class="header">
	<div class="header__inner container">
		<a class="header__logo" href="./"><img src="./images/logo.png" alt=""></a>
		<div class="header__navi">
			<nav class="header__menu menu">
				<a class="menu__link active" href="./">Home</a>
				<a class="menu__link" href="./">Best places</a>
				<a class="menu__link" href="./">Destination</a>
				<a class="menu__link" href="./">Travel tips</a>
				<a class="menu__link" href="./">Travel resources</a>
			</nav>
		</div>
		<a class="header__lang" href="./">Language <span>(EN)</span></a>
		<button class="header__toggle"></button>
	</div>
</header> 
