.get {
	$self: &;
	margin-bottom: 100px;

	&__inner {
		box-sizing: border-box;
		display: flex;
		
		@include media('<=md') {
			flex-wrap: wrap;
		}
	}
	
	&__images {
		box-sizing: border-box;
		padding: 150px 0 0 70px;
		display: flex;
		align-items: flex-start;
		width: 65%;
		background: url('./images/get__bg.svg') left top / 75% 78% no-repeat transparent;
		
		@include media('<=xxlg') {
			padding: 100px 0 0 70px;
		}
		
		@include media('<=xlg') {
			padding: 100px 0 0 30px;
		}
		
		@include media('<=md') {
			padding: 100px 0 0 70px;
			width: 100%;
		}
		
		@include media('<=sm') {
			padding: 50px 0 0 30px;
		}
		
		@include media('<=xs') {
			padding: 70px 0 0 70px;
			flex-wrap: wrap;
		}
		
		@include media('<=xs') {
			padding: 40px 0 0 40px;
		}
		
		@include media('<=xxs') {
			padding: 0px;
		}
	}

	&__image {
		margin-right: 28px;
		background-color: #fff;
		// height: 670px;
		// display: flex;
		// flex-flow: column nowrap;
		
		> img {
			display: block;
			width: 100%;
			// height: calc(100% - 50px);
			// object-fit: cover;
		}

		span {
			display: block;
			padding: 30px 10px;
			color: #6A6A6A;
			font-size: 19px;
		}
		
		@include media('<=xxs') {
			margin: 0;
		}
	}

	&__side {
		box-sizing: border-box;
		margin-left: auto;
		width: 30%;
		padding: 150px 0px 0px 20px;
		
		@include media('<=xxlg') {
			width: 35%;
		}
		
		@include media('<=xxlg') {
			padding: 100px 0px 0px 20px;
		}
		
		@include media('<=md') {
			padding: 0;
			order: -1;
			width: 100%;
			margin-bottom: 50px;
		}
	}

	&__text {
		font-size: 18px;
		line-height: 1.9;
		color: #6A6A6A;
		margin-bottom: 50px;
	}

	&__title {
		display: block;
		font-family: "Times New Roman", serif;
		line-height: 1.2;
		font-size: 50px;
		color: #444;
		margin-bottom: 60px;
		
		&::after {
			content: ".";
			color: #F0BE55;
		}
		
		@include media('<=xxs') {
			font-size: 44px;
			margin-bottom: 40px;
		}
		
		@include media('<=xxxs') {
			font-size: 38px;
			margin-bottom: 30px;
		}
	}

	&__play {
		display: block;
		text-decoration: none;
		color: #444;
		display: inline-flex;
		align-items: center;

		&::before {
			display: block;
			content: '';
			width: 50px;
			height: 50px;
			border-radius: 50%;
			border: 2px solid #E2E2E2;
			background: url('#{$images-path}icons-sprite.svg#icon-play-view-orange') center / 9px 14px no-repeat #fff;
			margin-right: 30px;
		}
	}
}
